<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TitleDex</title>
  <link rel="stylesheet" href="vendor/css/normalize.css">
  <link rel="stylesheet" href="vendor/css/flexslider.css">
  <link rel="stylesheet" href="vendor/css/bootstrap.css">
  <link rel="stylesheet" href="source/css/style.css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="vendor/s/jquery.js"></script>
  <script src="vendor/js/imgLiquid.js"></script>
  <script src="vendor/js/jquery.flexslider.js"></script>
  <script src="vendor/js/bootstrap.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
      $('.flexslider').flexslider();
    });
  </script>
  <script src="source/js/main.js"></script>
</head>
  <body>
    <header class="banner navbar navbar-default navbar-fixed-top" role="banner">
      <div id="navy" class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <div id="nav-logo">
            </div>
          </a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <nav class="collapse navbar-collapse navbar-right" role="navigation">
          <ul id="menu-primary-navigation" class="nav navbar-nav navbar-right">
            <li><a href="/about" id="ambassadors-nav-link">About TitleDex</a></li>
            <li id="searchinput">
              <form class="navbar-form navbar-left hidden-xs hidden-sm navbar-right" id="searchForm">
                <div class="form-group input-group">
                  <span class="input-group-addon">
                    <img src="img/pool/search.png" />
                  </span>
                  <input type="text" class="form-control" id="quickSearch" placeholder="Search">
                </div>
              </form>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="wrap" class="aboutwrap">
      <div id="main" class="container">

<!-- Header with Socials -->

<!-- Hero Unit -->

        <div class="row">
          <div class="col-xs-12">
            <div class="story-unit hero-unit about-unit">
              <div class="row">
                <div class="col-xs-12">
                  <div class="storyHeader text-left inBlock"><h2 id="sh1">About TitleDex</h2></div>
                  <!-- <div class="storyHeader text-left inBlock"><h2 id="sh2">Spencer, Nashville, TN</h2></div> -->
                  <ul class="pull-right inBlock" id="socialTop">
                    <!-- <li><h6>Share this page: </h6></li> -->
                    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  </ul>
                </div>
                <div class="row" id="botSocials">
                  <div class="col-xs-12">
                    <ul id="socialBot">
                      <li><h6>Share this page: </h6></li>
                      <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <blockquote>
                    "TitleDex is a limited liability company operating in the unique space between the technology and oil and gas industries."
                  </blockquote>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 story-story">
                  <p>
                    Lorem ipsum dolor sit amet, eu mel volutpat disputando, vix at tota veri fuisset. Cu sed aeque repudiandae, ea vis nulla omnesque. Mei zril alienum quaestio eu. Cum accusamus voluptatum in, cu virtute similique est. Nec eu hinc prima definitionem, cu mutat utroque fabellas pri. Dicam tempor ad per. At sea hinc aliquam mnesarchum.
                  </p>
                  <p>
                    At vel saperet deleniti rationibus, nominati oportere eu nam, pri ne persius noluisse dignissim. Quo nisl expetendis reprimique cu, pro clita vocent mandamus et. Et mucius appellantur vituperatoribus vim, sea alia zril eleifend ex. Audiam rationibus definiebas quo et, idque facilis disputationi eum ne. Ea has decore erroribus.
                  </p>
                  <p>
                    Pro ex nusquam indoctum persequeris, eu ipsum accumsan noluisse vis, mea partem epicuri vituperata eu. Pri tale vitae regione ut, eu paulo volutpat iracundia mei. Ea prima corpora platonem sed. Quo vidisse deserunt vituperatoribus no, et elit tacimates sapientem sed. Nisl case perpetua ei pro, eripuit corrumpit deseruisse no sea, ne expetenda consulatu democritum mel. Vel deleniti apeirian cotidieque cu, vel novum erant legendos te.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

<!-- Socials -->

        <div class="row" id="botSocials">
          <div class="col-xs-12">
            <ul id="socialBot">
              <li><h6>Share this page: </h6></li>
              <li><a href="#"><i class="fa fa-envelope"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="exampleModalLabel">Contact Us</h1>
          </div>
          <div class="modal-body">
            <p>
              <h2>Address</h2>
              2472 Petrodecks Blvd.<br>
              Big Money, TX<br>
              77638
            </p>
            <p>
              <h2>Phone</h2>
              (800) 567-9333
            </p>
            <p>
              <h2>Fax</h2>
              (800) 567-9334
            </p>
            <p>
              <h2>Email</h2>
              info@petrodecks.com
            </p>
          </div>
        </div>
      </div>
    </div>


    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
            <ul class="nopad text-left" id="footbotnav">
              <div class="row" id="footnavrow">
                <div class="col-xs-3">
                  <a href="#" class="bot" data-toggle="modal" data-target="#exampleModal">
                    <li>
                      <h6>Contact Us</h6>
                    </li>
                  </a>
                </div>
                <div class="col-xs-3">
                  <a href="#" class="bot">
                    <li>
                      <h6>Terms Of Service</h6>
                    </li>
                  </a>
                </div>
                <div class="col-xs-3">
                  <a href="#" class="bot">
                    <li>
                      <h6>Privacy Policy</h6>
                    </li>
                  </a>
                </div>
                <div class="col-xs-3">
                  <a href="#" class="bot">
                    <li>
                      <h6>Press</h6>
                    </li>
                  </a>
                </div>
              </div>
            </ul>
          </div>
          <div class="col-xs-2"></div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>
              &#169 TitleDex 2020. All rights reserved. This site is published by TitleDex which is solely responsible for its content.<br>Third party trademarks used herein are the trademarks of their respective owners.
            </p>
          </div>
        </div>
      </div>
    </footer>


    <div class="nav-overlay navbar-collapse collapse"></div>
  </body>
</html>
